.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.parent {
  background: red;
  height: 200px;
  width: 200px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.child {
  background: blue;
  height: 100px;
  width: 100px;
}
